# <a id="#">Task 1.4 – Writing loops in Python</a>

**<a id="#">Task 1.4.1.</a>** Use a `while`-loop to write the numbers from 5 to 15.

**Hint:** The Syntax of a `while`-loop is
```python
while condition:
    operation
```

Example:
```python
i = 0
while i < 10:
    print(i)
    i = i + 1
```

**Hint:** Variables and text can be printed using `print`, for example:
```python
print(i)
print('The result is i=' + str(i))
```

**Hint:** If your code cell keeps running seemingly forever, you have probably produced an *infinite loop*. In that case, you can interrupt the execution of the code cell by clicking the □ button which appears right to the left of the executed cell, and then fix the problem. If the □ button does not appear, try clicking the cell first!

In [15]:
i  = 5
while i < 16:
    print (i)
    i = i + 1

5
6
7
8
9
10
11
12
13
14
15

<div class="alert alert-block alert-success"><b>Hint:</b> Now might be a good moment to commit and push your progress :) preferably, you should be doing this <em>at least</em> after completing each task. It doesn't harm if you do it sometimes in between too, e.g., when you feel like you have had some significant progress with a task.</div>

**<a id="#">Task 1.4.2.</a>** Use a `while`-loop to compute and write the squares of the numbers from 1 to 20. The result should be shown like:
```
1 -> 1
2 -> 4
3 -> 9
…
20 -> 400
```
**Hint:** Square of a number `i` can be computed by `i ** 2` or `i * i`.

In [38]:
i  = 1 
while i < 21:
    print (f'{i}' + '->' + f'{i * i}')
    i = i + 1

1->1
2->4
3->9
4->16
5->25
6->36
7->49
8->64
9->81
10->100
11->121
12->144
13->169
14->196
15->225
16->256
17->289
18->324
19->361
20->400

**<a id="#">Task 1.4.3.</a>** Copy your solution from **Task 1.4.2** and modify the code such that *the squares are only computed for even numbers*.

In [40]:
i  = 2 
while i < 21:
    print (f'{i}' + '->' + f'{i * i}')
    i = i + 2

2->4
4->16
6->36
8->64
10->100
12->144
14->196
16->256
18->324
20->400

**<a id="#">Task 1.4.4.</a>** Use a `for`-loop to compute the sum of the numbers from 1 to 100. The correct result would be 5050.

**Hint:** The Syntax of a `for`-loop is
```python
for i in iterable:
    operation
```

Example:
```python
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)
```

**Hint:** An `iterable` sequence of numbers from `i` (inclusive) to `j` (exclusive) can be constructed using `range(i, j)`.

In [58]:
print(sum(range(1,101)))

5050

**<a id="#">Task 1.4.5.</a>** Generate the times table ("Kleines Einmaleins") by using two nested for loops, i.e., using an outer and an inner loop. The result should be shown like:
```
1 2 3 … 10
2 4 6 … 20
3 6 9 … 30
…
10 20 30 … 100
```

**Hint:** The function `print(s, end='')` works like `print(s)` but does *not* append a line break (as `print(s)` does).

In [90]:
for s in range(1,11):
    for g in range (1,11): 
        print(str(s*g), end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

**<a id="#">Task 1.4.6.</a>** Copy your solution from **Task 1.4.5** and modify the code such that *values below 10 in the times table have a leading zero* (e.g., `05` instead of only `5`). This can be achieved, for example, by using an `if`-statement.

**Hint:** The Syntax of an `if`-statement is
```python
if condition:
    operation1
else:
    operation2
```

Example:
```python
if val < 5:
    print('val is less than 5')
else:
    print('val is larger or equal 5')
```

In [98]:
for s in range(1,11):
    for g in range (1,11): 
        if s < 11:
            s = '0' + f'{s}' 
            print(str(s*g), end=' ')
    print()

01

TypeError: '<' not supported between instances of 'str' and 'int'